<div class="text-center">
    <h3>Filters</h3>
    <button type="button" class="btn btn-primary" (click)="addFilter()">Add Filter</button>
</div>
<div class="mt-2" *ngFor="let filter of filters; index as i">
    <label>#{{i+1}} </label>
    <select class="form-select" aria-label="Select Column" [(ngModel)]="filters[i].column_name">
        <option selected disabled value="">Choose Column</option>
        <option *ngFor="let name of columnsForFilter" value="{{name}}">{{name}}</option>
    </select>
    <select class="form-select" aria-label="Select Operator" [(ngModel)]="filters[i].operator">
        <option elected disabled value="">Choose Operator</option>
        <option *ngFor="let operator of operators" value="{{operator}}">{{operator}}</option>
    </select>
    <input type="text" class="form-control" placeholder="Enter Value" aria-label="Value" [(ngModel)]="filters[i].value">
</div>
<div class="text-center mt-4" *ngIf="!!filters.length">
    <button type="button" class="btn btn-primary" (click)="applyFilter()">Apply</button>
</div>