<div>
    <table class="table table-bordered border-primary table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">gtin</th>
                <th scope="col">product_name</th>
                <th scope="col">product_desc</th>
                <th scope="col">price</th>
                <th scope="col">currency</th>
                <th scope="col">category</th>
                <th scope="col">gender</th>
                <th scope="col">quantity</th>
                <th scope="col">size</th>
                <th scope="col">style</th>
                <th scope="col">color</th>
                <th scope="col">url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; index as i">
                <th scope="row">{{item.id}}</th>
                <td>
                    <div data-toggle="tooltip" data-placement="right" title={{item.gtin}}>
                        {{item.gtin}}
                    </div>
                </td>
                <td>
                    <div data-toggle="tooltip" data-placement="right" title={{item.product_name}}>
                        {{item.product_name}}
                    </div>
                </td>
                <td>
                    <div data-toggle="tooltip" data-placement="right" title={{item.product_desc}}>
                        {{item.product_desc}}
                    </div>
                </td>
                <td>
                    <div data-toggle="tooltip" data-placement="right" title={{item.price}}>
                        {{item.price}}
                    </div>
                </td>
                <td>{{item.currency}}</td>
                <td>{{item.category}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.size}}</td>
                <td>{{item.style}}</td>
                <td>{{item.color}}</td>
                <td>
                    <div data-toggle="tooltip" data-placement="right" title={{item.url}}>
                        <a href={{item.url}}>
                            {{item.url}}
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>